@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	
	:root {
		--background: #100F13;  /* lucy bg */
		--foreground: #DED7D0;  /* for heading; lucy fg */
		--foreground-alt:  /* for body; lucy muted */

		--muted: #2F2C32;  /* lucy surface alt */
		--muted-foreground: #A49EAC;  /* lucy muted */
		
		--popover: #1E1D23;  /*  lucy surface */
		--popover-foreground: #DED7D0;  /* lucy fg */
		
		--card: #16151A;  /* lucy muted-65 */
		--card-foreground: #A49EAC;  /* lucy muted */
		
		--border: #2F2C32;  /* lucy border */
		--input: #524B51;  /* lucy border alt */
		
		--primary: #F0CE59;  /* lucy primary */
		--primary-foreground: #16151A;  /* lucy muted-65 */
		
		--secondary: #FF7DA3;  /* lucy secondary */
		--secondary-foreground: #16151A;  /* lucy muted-65 */

		--tertiary: #56C6D5;  /* lucy tertiary */
		
		--accent: #686069;  /* lucy hover */
		--accent-foreground: #1E1D23;  /* lucy muted-65 */
		
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 20% 98%;
		
		--ring: #524B51;
		--radius: 0.5rem;
	}
	
	::-webkit-scrollbar {
		width: 6px;
		height: 3px;
	}
	
	::-webkit-scrollbar-track {
		background: var(--card);
	}
	
	::-webkit-scrollbar-thumb {
		background: var(--muted);
	}
	
	::-webkit-scrollbar-thumb:hover {
		background: var(--popover)
	}
	
	::-webkit-scrollbar-corner {
		background: var(--background);
	}
}


@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply font-sans bg-lucy-bg;
		
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
	}
	
	button,
	a,
	input,
	textarea,
	article,
	span {
		transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, gap;
		transition-duration: 150ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	
	/* ALL OTHER */
	h1,
	h2,
	h3 {
		@apply font-heading;
		@apply text-lucy-primary;
	}
	
	h4,
	h5,
	p,
	label {
		@apply font-sans;
		@apply text-lucy-muted;
	}
	
	h6 {
		@apply font-mono;
		@apply tracking-tight;
		@apply px-4 md:px-0;
		@apply text-sm;
		@apply tracking-tighter;
		@apply opacity-80;
	}
	
	/* TODO : fix (I just know this isnt the proper implementation of this) */
	h1 {
		@apply text-2xl;
	}
	
	h2 {
		@apply text-2xl;
	}
	
	h3 {
		@apply text-xl;
	}
	
	h4 {
		@apply text-lg;
	}
	
	p {
		@apply text-base;

		text-wrap: pretty;
	}
	
	.page {
		@apply flex flex-col;
		@apply gap-4;
		@apply h-[calc(100vh-4rem)];
		@apply rounded-xl;
		@apply shadow-md;
		@apply shadow-lucy-border;
	}
	
	section {
		@apply bg-lucy-surface/65;
		@apply px-6;
		@apply py-8;
		@apply grow;
		@apply rounded-xl;
	}
	
	span.jumpable {
		@apply h-8;
		@apply -mt-12;
		@apply -z-50;
	}
	
	footer {
		@apply py-4;
		@apply text-lucy-surface-alt;
		
		margin-left: auto;
		margin-right: auto;
	}
}


@layer components {
	.hoverable-link {
		@apply underline underline-offset-1;
		
		span& {
			@apply hover:text-lucy-tertiary;
		}
		
		a& {
			@apply hover:text-lucy-secondary;
		}
	}
	
	h1.hero-text {
		@apply text-lucy-fg;
		
		font-weight: 700;
		font-size: 1.75rem;
		line-height: 2rem;
		letter-spacing: 0.025rem;
	}
	
	h6.footnote {
		@apply text-lucy-muted/80;
		@apply text-right;
		
		a {
			@apply underline;
			@apply hover:text-lucy-secondary;
		}
	}
}


@layer utilities {
	.magic-text {
		animation: background-pan 6s linear infinite;
		background: linear-gradient(
			to right,
			var(--foreground),
			var(--secondary),
			var(--tertiary),
			var(--foreground)
		);
		background-size: 200%;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		white-space: nowrap;
	}
}


@keyframes background-pan {
	from {
		background-position: 0% center;
	}
	
	to {
		background-position: 200% center;
	}
}


@keyframes animate-grain {
	0% {
		transform: translate(0, 0);
	}
	
	10% {
		transform: translate(-5%, -10%);
	}
	
	20% {
		transform: translate(-15%, -20%);
	}
	
	30% {
		transform: translate(-5%, -10%);
	}
	
	40% {
		transform: translate(-15%, -20%);
	}
	
	50% {
		transform: translate(-5%, -10%);
	}
	
	60% {
		transform: translate(-15%, -20%);
	}
	
	70% {
		transform: translate(-5%, -10%);
	}
	
	80% {
		transform: translate(-15%, -20%);
	}
	
	90% {
		transform: translate(-5%, -10%);
	}
	
	100% {
		transform: translate(-15%, -20%);
	}
}
