@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply font-sans bg-lucy-bg;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;

        body::before {
            content: '';
            position: absolute;
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            /* 
            background-image: url("");
            background-size: auto;  
            background-repeat: repeat;
            opacity: 0.03;
            z-index: -1;
            */
        }

        /* ALL OTHER */
        h1, h2, h3 {
            @apply font-heading text-lucy-primary;
        }

        h4, h5, p, label {
            @apply font-sans text-lucy-muted;
        }

        h6 {
            @apply font-mono tracking-tight px-4 md:px-0;
        }

        /* TODO : fix (I just know this isnt the proper implementation of this) */
        h1  { @apply text-2xl }
        h2  { @apply text-2xl }
        h3  { @apply text-xl }
        h4  { @apply text-lg }
        h6  { @apply text-xs }
        p   { @apply text-base }
    }
}

@layer components {
    page {
        @apply flex flex-col gap-4 h-[calc(100vh-4rem)];
    }
    section {
        @apply bg-lucy-surface px-6 py-8 grow border-lucy-border rounded-t-xl;
        @apply shadow-sm shadow-lucy-muted/60;
    }
    jumpable {
        @apply h-8 -mt-12 -z-50;
    }
    footer {
        @apply py-4 text-lucy-surface-alt;
    }
}

@layer utilities {
    .hoverable-link {
        @apply underline underline-offset-1 transition-all ease-out;
    }

    span.hoverable-link {
        @apply hover:text-lucy-tertiary;
    }

    a.hoverable-link {
        @apply hover:text-lucy-secondary;
    }

    h6.footnote {
        @apply text-lucy-muted/80 text-right;
    }

    h6.footnote a {
        @apply underline hover:text-lucy-secondary;
    }
}