@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    --background: #100F13;
    --foreground: #DED7D0;
    
    --muted: #2F2C32;
    --muted-foreground: #A49EAC;
    
    --popover: #686069;
    --popover-foreground: #DED7D0;
    
    --card: #1E1D23;
    --card-foreground: #A49EAC;
    
    --border: #2F2C32;
    --input: #524B51;
    
    --primary: #F0CE59;
    --primary-foreground: #DED7D0;
    
    --secondary: #FF7DA3;
    --secondary-foreground: #1E1D23;
    
    --accent: #56C6D5;
    --accent-foreground: #1E1D23;
    
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;
    
    --ring: #524B51;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans bg-lucy-bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    
    body::before {
      content: '';
      position: absolute;
      top: 0; 
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    /* ALL OTHER */
    h1, h2, h3 {
      @apply font-heading text-lucy-primary;
    }
    
    h4, h5, p, label {
      @apply font-sans text-lucy-muted;
    }
    
    h6 {
      @apply font-mono tracking-tight px-4 md:px-0;
    }
    
    /* TODO : fix (I just know this isnt the proper implementation of this) */
    h1  { @apply text-2xl }
    h2  { @apply text-2xl }
    h3  { @apply text-xl }
    h4  { @apply text-lg }
    h6  { @apply text-sm tracking-tighter opacity-80 }
    p   { @apply text-base }
  }
}

@layer components {
  page {
    @apply flex flex-col gap-4 h-[calc(100vh-4rem)];
  }
  section {
    @apply bg-lucy-surface px-6 py-8 grow border-lucy-border rounded-xl;
    @apply shadow-md shadow-lucy-muted/25;
  }
  span.jumpable {
    @apply h-8 -mt-12 -z-50;
  }
  footer {
    @apply py-4 text-lucy-surface-alt;
  }
}

@layer utilities {
  .hoverable-link {
    @apply underline underline-offset-1 transition-all ease-out;
  }
  
  span.hoverable-link {
    @apply hover:text-lucy-tertiary;
  }
  
  a.hoverable-link {
    @apply hover:text-lucy-secondary;
  }
  
  h6.footnote {
    @apply text-lucy-muted/80 text-right;
  }
  
  h6.footnote a {
    @apply underline hover:text-lucy-secondary;
  }
}

.magic-text {
  animation: background-pan 8s linear infinite;
  background: linear-gradient(
    to right,
    var(--foreground),
    var(--secondary),
    var(--accent),
    var(--foreground)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

/* Background pan */
@keyframes background-pan {
	from {
		background-position: 0% center;
	}
	to {
		background-position: 200% center;
	}
}

/* Animated Grain */
@keyframes animateGrain {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, -20%);
	}
	30% {
		transform: translate(-5%, -10%);
	}
	40% {
		transform: translate(-15%, -20%);
	}
	50% {
		transform: translate(-5%, -10%);
	}
	60% {
		transform: translate(-15%, -20%);
	}
	70% {
		transform: translate(-5%, -10%);
	}
	80% {
		transform: translate(-15%, -20%);
	}
	90% {
		transform: translate(-5%, -10%);
	}
	100% {
		transform: translate(-15%, -20%);
	}
}